extends layout

block content
    head
        title Publicación
        link(rel='stylesheet' href='/producto.css')
        link(rel='stylesheet' href='/nav.css')
        script(src="/producto.js" defer)

        script(src="/jq-agregar-publicacion.js" defer)


    body



        section#form.d-flex.justify-content-start.align-item-start
            //formularo de registro
            form.form.col.col-xs-12.col-sm-12.col-md-6.col-lg-8(action="/blog/agregar" method="post" enctype="multipart/form-data")
                p.form-title.mt-4 Crea una publicación


                .row.input-container

                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .row.input-container
                            .col-12
                                .form-floating
                                    input.form-control#tituloInput(name="titulo" placeholder="titulo" type="text")
                                    label(for="tituloInput") titulo
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .row.input-container
                            .col-12
                                .form-floating
                                    input.form-control#descripcionInput(name="descripcion" placeholder="descripcion" type="text")
                                    label(for="descripcionInput") descripción

                .container.col.col-lg-4.col-md-4.col-sm-6.col-xs-12
                    .header
                        svg(viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                            g#SVGRepo_bgCarrier(stroke-width="0")
                            g#SVGRepo_tracerCarrier(stroke-linecap="round" stroke-linejoin="round")
                            g#SVGRepo_iconCarrier
                                path(d="M7 10V9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9V10C19.2091 10 21 11.7909 21 14C21 15.4806 20.1956 16.8084 19 17.5M7 10C4.79086 10 3 11.7909 3 14C3 15.4806 3.8044 16.8084 5 17.5M7 10C7.43285 10 7.84965 10.0688 8.24006 10.1959" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
                        p imagen
                    label.footer(for="file")
                        svg(fill="#000000" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
                            g#SVGRepo_bgCarrier(stroke-width="0")
                            g#SVGRepo_tracerCarrier(stroke-linecap="round" stroke-linejoin="round")
                            g#SVGRepo_iconCarrier
                                path(d="M15.331 6H8.5v20h15V14.154h-8.169")
                                path(d="M18.153 6h-.009v5.342H23.5v-.002")
                        p Nada seleccionado
                        svg(viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                            g#SVGRepo_bgCarrier(stroke-width="0")
                            g#SVGRepo_tracerCarrier(stroke-linecap="round" stroke-linejoin="round")
                            g#SVGRepo_iconCarrier
                                path(d="M5.16565 10.1534C5.07629 8.99181 5.99473 8 7.15975 8H16.8402C18.0053 8 18.9237 8.9918 18.8344 10.1534L18.142 19.1534C18.0619 20.1954 17.193 21 16.1479 21H7.85206C6.80699 21 5.93811 20.1954 5.85795 19.1534L5.16565 10.1534Z" stroke="#000000" stroke-width="2")
                                path(d="M19.5 5H4.5" stroke="#000000" stroke-width="2" stroke-linecap="round")
                                path(d="M10 3C10 2.44772 10.4477 2 11 2H13C13.5523 2 14 2.44772 14 3V5H10V3Z" stroke="#000000" stroke-width="2")
                    input#file(type="file" name="imagenUrl" accept=".jpg, .jpeg, .png, .webp, ")

                button.submit.mt-4(type="submit") CREAR



            .recomendaciones.col.col-lg-4.col-md-6.d-none.d-md-block
                .container.contain-preguntas
                    .pregunta
                        details
                            summary(class="bg-white p-3 rounded") Título
                            p(class="respuesta") Ingresa un título descriptivo y atractivo para la publicación. Captura la atención de los usuarios y describe brevemente el contenido de la publicación.

                        details
                            summary(class="bg-white p-3 rounded") Descripción
                            p(class="respuesta") Proporciona una descripción detallada del contenido de la publicación. Sé claro y conciso para que los usuarios entiendan rápidamente de qué se trata.

                        details
                            summary(class="bg-white p-3 rounded") Imagen
                            p(class="respuesta") Sube una imagen para complementar la publicación. La imagen será automáticamente convertida a formato WEBP para optimizar la carga de la página y mejorar la experiencia del usuario. Puedes cargar imágenes en diferentes formatos, y el sistema se encargará de la conversión.

                        details
                            summary(class="bg-white p-3 rounded") Formatos permitidos
                            p(class="respuesta") Los videos no son admitidos en este momento.

                        details
                            summary(class="bg-white p-3 rounded") Tamaño y calidad de la imagen
                            p(class="respuesta") Asegúrate de que la imagen tenga un tamaño adecuado para la publicación y una calidad suficiente para una visualización óptima. Evita imágenes demasiado grandes que puedan afectar el rendimiento de la página.

                        details
                            summary(class="bg-white p-3 rounded") Nota sobre videos
                            p(class="respuesta") En este momento, no se admiten videos como parte de las publicaciones. Si deseas compartir contenido multimedia, asegúrate de convertir los videos a formatos de imagen aceptados, como WEBP, y captura la esencia del video en una imagen atractiva.
