extends layout

block content

  head 

    title Crear

    link(rel='stylesheet' href='/usuario.css')
    link(rel='stylesheet' href='/producto.css')

    script(src="/usuario.js" defer)
    script(src="/producto.js" defer)

    script(src="/jq-crear-usuario.js" defer)


  body  






    section#form.d-flex.justify-content-start.align-item-start
      //formularo de registro
      form.form.col.col-xs-12.col-sm-12.col-md-6.col-lg-8(action="/usuario/agregar" method="post" enctype="multipart/form-data")
        p.form-title.mt-4 Crea un usuario

        .row.input-container
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .row.input-container
              .col-12
                .form-floating
                  input.form-control#nombreInput(name="nombre" placeholder="nombre" type="text")
                  label(for="nombreInput") Nombre completo
            .row.input-container
              .col-12
                .form-floating
                  input.form-control#mailInput(name="mail" placeholder="mail" type="mail")
                  label(for="mailInput") mail
            .row.input-container
              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .form-floating
                  input.form-control#claveInput(name="clave" placeholder="clave" type="password")
                  label(for="clave") clave

              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .form-floating
                  input.form-control#claveRepetidaInput(name="claveRepetida" placeholder="repetir clave" type="password")
                  label(for="claveRepetida") repetir clave    

            .row.input-container
              .col-lg-6.col-md-6.col-sm-6.col-xs-12.col-12
                .form-floating
                  input.form-control#telefonoInput(name="telefono" placeholder="telefono" type="number")
                  label(for="telefonoInput") telefono

              .col-lg-6.col-md-6.col-sm-6.col-xs-12
                .form-floating
                  input.form-control#correoContactoInput(name="correoContacto" placeholder="Correo Contacto" type="text")
                  label(for="correoContacto") Correo Contacto

            .row.input-containemt-3
              .col-lg-6.col-md-6.col-sm-6.col-xs-12.mt-3
                .form-floating
                  select.form-control#rolInput(name="rol")
                    option(value="1") ADMINISTRADOR 
                    option(value="2") EMPLEADO
                  label(for="rolInput") rol    


              .col-lg-6.col-md-6.col-sm-6.col-xs-12.mt-3
                .form-floating
                  select.form-control#idComercioInput(name="idComercio")
                    for comercio in Comercios
                      option(value=`${comercio.id}`) #{comercio.nombre + " - " + comercio.direccion}



        .container.col.col-lg-4.col-md-4.col-sm-6.col-xs-12.mt-3
          .header
            svg(viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              g#SVGRepo_bgCarrier(stroke-width="0")
              g#SVGRepo_tracerCarrier(stroke-linecap="round" stroke-linejoin="round")
              g#SVGRepo_iconCarrier
                path(d="M7 10V9C7 6.23858 9.23858 4 12 4C14.7614 4 17 6.23858 17 9V10C19.2091 10 21 11.7909 21 14C21 15.4806 20.1956 16.8084 19 17.5M7 10C4.79086 10 3 11.7909 3 14C3 15.4806 3.8044 16.8084 5 17.5M7 10C7.43285 10 7.84965 10.0688 8.24006 10.1959" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
            p foto del usuario
          label.footer(for="file")
            svg(fill="#000000" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
              g#SVGRepo_bgCarrier(stroke-width="0")
              g#SVGRepo_tracerCarrier(stroke-linecap="round" stroke-linejoin="round")
              g#SVGRepo_iconCarrier
                path(d="M15.331 6H8.5v20h15V14.154h-8.169")
                path(d="M18.153 6h-.009v5.342H23.5v-.002")
            p Nada seleccionado
            svg(viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
              g#SVGRepo_bgCarrier(stroke-width="0")
              g#SVGRepo_tracerCarrier(stroke-linecap="round" stroke-linejoin="round")
              g#SVGRepo_iconCarrier
                path(d="M5.16565 10.1534C5.07629 8.99181 5.99473 8 7.15975 8H16.8402C18.0053 8 18.9237 8.9918 18.8344 10.1534L18.142 19.1534C18.0619 20.1954 17.193 21 16.1479 21H7.85206C6.80699 21 5.93811 20.1954 5.85795 19.1534L5.16565 10.1534Z" stroke="#000000" stroke-width="2")
                path(d="M19.5 5H4.5" stroke="#000000" stroke-width="2" stroke-linecap="round")
                path(d="M10 3C10 2.44772 10.4477 2 11 2H13C13.5523 2 14 2.44772 14 3V5H10V3Z" stroke="#000000" stroke-width="2")
          input#file(type="file" name="imagenUrl")

        button.submit.mt-4(type="submit") CREAR



      .recomendaciones.col.col-lg-4.col-md-6.d-none.d-md-block

        .container.contain-preguntas
          .pregunta
            details
              summary(class="bg-white p-3 rounded") Clave
              p(class="respuesta") La clave debe tener un mínimo de 8 caracteres y contener al menos un número para aumentar la seguridad.

            details
              summary(class="bg-white p-3 rounded") Correo de contacto
              p(class="respuesta") Proporciona un correo de contacto válido para que podamos comunicarnos contigo en caso necesario.

            details
              summary(class="bg-white p-3 rounded") Rol
              p(class="respuesta") Selecciona el rol adecuado para tu cuenta: "Administrador" si necesitas acceso completo al sistema o "Empleado" si tendrás funciones específicas asignadas.

            details
              summary(class="bg-white p-3 rounded") Comercio
              p(class="respuesta") Elige el comercio al que estás asociado. Esto determinará los productos y permisos que estarán disponibles para tu cuenta.

            details
              summary(class="bg-white p-3 rounded") Imagen
              p(class="respuesta") Sube una imagen para tu perfil. Puedes usar la imagen proporcionada por el comercio o una imagen personalizada con fondo transparente en formato PNG para una apariencia más profesional.

            details
              summary(class="bg-white p-3 rounded") ¿Donde puedo crear una imagen PNG?
              a(class="respuesta" href="https://www.remove.bg/es/upload" target="_blank") https://www.remove.bg/es/upload        
