* {
    /*   border:.1px solid black; */
}

.algo {
    height: 200px;
    width: 100%;
    background-color: black;
}

.cart {
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    padding: 10px;
    background-color: #479feb1a;
}

li,
ul {
    list-style: none;
}

.total-suma{
    background-color: #2ecc71;
    color: black;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
}

.cart-icon {
    height: 50px;
    width: 50px;
    position: relative;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzIgMzIiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxwYXRoIGZpbGw9IiMzMTRENUQiIGQ9Ik00LDIxYzAsMC42LDAuNCwxLDEsMWgyNWMwLjYsMCwxLTAuNCwxLTFzLTAuNC0xLTEtMUg2di0yaDE5YzAuNSwwLDAuOS0wLjMsMS0wLjhsMy0xMmMwLjEtMC4zLDAtMC42LTAuMi0wLjlTMjguMyw0LDI4LDRINlYxYzAtMC42LTAuNC0xLTEtMUgxQzAuNCwwLDAsMC40LDAsMXMwLjQsMSwxLDFoM1YyMXoiLz48Y2lyY2xlIGZpbGw9IiMzMTRENUQiIGN4PSI3IiBjeT0iMjgiIHI9IjMiLz48Y2lyY2xlIGZpbGw9IiMzMTRENUQiIGN4PSIyOCIgY3k9IjI4IiByPSIzIi8+PC9nPjwvc3ZnPg==) no-repeat center center;
}

.nav {

    height: 70px;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    z-index: 1000;
    top: 0;
}

.cart-icon #totalItems {
    position: absolute;
    top: 3px;
    right: 5px;
    height: 18px;
    width: 18px;
    line-height: 18px;
    background-color: #479feb;
    border: .1px solid #ffff;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.2s 0s;
    -moz-transition: -moz-transform 0.2s 0s;
    transition: transform 0.2s 0s;
}


.carrito {
    width: 100%;
    background-image: url('/wave7.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow-x: hidden;
}

.card {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 150px;
    object-fit: contain;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-text {
    font-size: 14px;
    margin-bottom: 10px;
}

.btn.agregar {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}



/* MODAL */

#carritoModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
    margin: 10vh auto;
    max-width: 600px;
}

.modal-content {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.modal-header {
    background-color: #f8f9fa;
    border-radius: 10px 10px 0 0;
    padding: 15px;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.modal-body {
    padding: 15px;
    height: 200px;
    overflow-y: scroll;
}

.cart-wrapper {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.cart-item {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.modal-footer {
    background-color: #f8f9fa;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    text-align: right;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #495057;
    color: #fff;
}

@media (max-width: 576px) {
    .modal-dialog {
        margin: 5vh auto;
    }

    .modal-title {
        font-size: 20px;
    }
}