@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;

  /* border: .1px solid black; */
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: auto;
}



/* Estilos para la barra de desplazamiento */
.contain-preguntas::-webkit-scrollbar {
  width: 8px;
  /* Ancho de la barra de desplazamiento */
  background-color: transparent;
  /* Fondo transparente */
}

.contain-preguntas::-webkit-scrollbar-thumb {
  background-color: #86a7f09f;
  /* Color azul para el desplazador */
  border-radius: 4px;
  /* Borde redondeado */
}

.contain-preguntas::-webkit-scrollbar-thumb:hover {
  background-color: #0264b9;
  /* Color azul más oscuro al pasar el cursor */
}



.pregunta {
  background-color: rgb(255, 255, 255);
  border: 1px solid #86a7f062;
  word-wrap: break-word;
  padding: 32px;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 32px;
  border-radius: 5px;
}

.pregunta>details>summary {
  font-size: 22px;
  cursor: pointer;
  color: #042c4e;
  transition: margin 300ms ease-out;
}

.respuesta {
  padding: 15px;
}

details[open] summary {
  margin-bottom: 10px;
}

.contain-preguntas {
  height: 500px;
  overflow-y: scroll;
}

.input-foro {
  height: 60px;
}

.btn-foro {
  width: 100px;
  margin-left: 5px;
}

#foro {
  height: auto;
  width: 100%;
  border-top: none;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;

  background-image: url('/wave5.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}



.inicio {
  height: 50vh;
  width: 100%;
  /*   border: 1px solid black; */


  background-image: url('/wave6.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.titulo {
  width: 100%;
}

.titulo>h2 {
  font-size: calc(3vw + 10px);
  color: #042c4e;
}

main {
  position: relative;
  width: 100%;
  padding: 20px;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);

  background-image: url('/wave4.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg {
  position: fixed;
  top: -4rem;
  left: -12rem;
  z-index: -1;
  opacity: 0;
}

.bg2 {
  position: fixed;
  bottom: -2rem;
  right: -3rem;
  z-index: -1;
  width: 9.375rem;
  opacity: 0;
}

main>div span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #717171;
}

main>div h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
  background-color: #005baa;
  background-image: linear-gradient(45deg, #005baa, #000000);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

main>div hr {
  display: block;
  background: #005baa;
  height: 0.25rem;
  width: 6.25rem;
  border: none;
  margin: 1.125rem 0 1.875rem 0;
}

main>div p {
  line-height: 1.6;
}

main a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 500;
  background: #fff;
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}

main>div>a {
  border: 2px solid #c2c2c2;
  margin-top: 2.188rem;
  padding: 0.625rem 1.875rem;
}

main>div>a:hover {
  border: 0.125rem solid #005baa;
  color: #005baa;
}

.swiper {
  width: 100%;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #000000;
}

.swiper-pagination {
  bottom: 1.25rem !important;
}

.swiper-slide {
  width: 18.75rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.swiper-slide h2 {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  padding: 0 0 0 1.563rem;
  text-transform: uppercase;
}

.swiper-slide p {
  color: #141010;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0 1.563rem;
  line-height: 1.6;
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-slide a {
  margin: 1.25rem 1.563rem 3.438rem 1.563rem;
  padding: 0.438em 1.875rem;
  font-size: 0.9rem;
  border: 1px solid #768592;
}

.swiper-slide a:hover {
  color: #005baa;
  border: 1px solid #005baa;
}

.swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
}

.swiper-slide-active div {
  display: block;
  opacity: 1;
}


.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

@media screen and (min-width: 48rem) {
  main {
    display: flex;
    align-items: center;
  }

  .bg,
  .bg2 {
    opacity: 0.1;
  }
}

@media screen and (min-width: 93.75rem) {
  .swiper {
    width: 85%;
  }
}



/*  BOTON nav  */

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  text-decoration: none;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}


.navbar-toggler {
  position: relative;
}

#totalItems_nav {
  position: absolute;
  top: -5px;
  right: -7px;
  padding: 1px;
  background-color: #479feb;
  border: .1px solid #ffff;
  min-height: 18px;
  min-width: 18px;
  line-height: 18px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s 0s;
  -moz-transition: -moz-transform 0.2s 0s;
  transition: transform 0.2s 0s;
}