.carrito {
    width: 100%;
    min-height: 100vh;
    background-image: url('/wave7.svg');
    background-color: #d9e6eb;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow-x: hidden;
}